
                <mat-toolbar color="primary">
                  <span class="fill-remaining-space">{{pageTitle}}</span>
                </mat-toolbar>
                
                

                <div class="container" novalidate> 
                  <form [formGroup]="usuarioForm" (ngSubmit)="onFormSubmit(usuarioForm.value)" class="form">
                
                    <mat-form-field class="form-element">
                      <input matInput placeholder="Nome do usuario" formControlName="Nome" maxlength="200" minlength="3" required>
                      <mat-error *ngIf="!usuarioForm.controls['Nome'].valid && usuarioForm.controls['Nome'].touched">
                        Campo obrigatório, deve conter no mínimo 3 caracteres.
                      </mat-error>
                    </mat-form-field>
                
                    <mat-form-field class="form-element">
                      <input matInput placeholder="E-mail" formControlName="Email" required >
                      <mat-error *ngIf="!usuarioForm.controls['Email'].valid && usuarioForm.controls['Email'].touched">
                        {{ getErrorEmail() }}
                      </mat-error>
                    </mat-form-field>
                
                    <mat-form-field appearance="fill">
                      <mat-label>Sexo</mat-label>
                      <mat-select (selectionChange)="changeSexo($event)" formControlName="Sexo">
                        <mat-option *ngFor="let sexo of allSexo" [value]="sexo.sexoId">
                          {{sexo.descricao}}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="!usuarioForm.controls['Sexo'].valid && usuarioForm.controls['Sexo'].touched">
                        Campo obrigatório.
                      </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill">
                      <mat-label>Data de nascimento</mat-label>
                      <input matInput [matDatepicker]="picker" formControlName="DataNascimento">
                      <mat-error *ngIf="!usuarioForm.controls['DataNascimento'].valid && usuarioForm.controls['DataNascimento'].touched">
                        Campo obrigatório.
                      </mat-error>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    
                    <mat-form-field>
                      <input matInput placeholder="Senha" [type]="hide ? 'password' : 'text'" formControlName="Senha" required>
                      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      <mat-hint *ngIf="!passwordInput.value">Escolha uma senha com no minimo 8 caracteres, uma letra maiuscula e um numero</mat-hint>
                      <mat-error *ngIf="!usuarioForm.controls['Senha'].valid && usuarioForm.controls['Senha'].touched">
                        {{ getErrorPassword() }}
                      </mat-error>
                  </mat-form-field>
                    
                  <div style="margin-top: 10%;">
                    <mat-label>Status: </mat-label>
                    <div class="form-element">
                      <mat-label >Inataivo</mat-label>
                        <mat-slide-toggle formControlName="Ativo"  color="primary" aria-checked="true" style="margin-left: 1%; margin-right: 1%;"></mat-slide-toggle>
                      <mat-label>Ativo</mat-label>
                    </div>
                  </div>
                
                    <div class="form-element">
                      <button mat-raised-button color="primary" type="submit" class="button">Enviar</button>
                    </div>
                
                  </form>
                </div>


           <br><br> 

          <mat-toolbar color="primary">
            <span class="fill-remaining-space">Lista de usuarios cadastrados</span>
          </mat-toolbar>
           <br><br>

           <mat-form-field>
            <mat-label>Filtro</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Joao" #input>
          </mat-form-field>

          <div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              
              <ng-container matColumnDef="usuarioId">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.usuarioId}} </td>
              </ng-container>
            
              <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Nome </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
              </ng-container>
            
              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.email}} </td>
              </ng-container>
            
              <ng-container matColumnDef="sexo">
                <th mat-header-cell *matHeaderCellDef> Sexo </th>
                <td mat-cell *matCellDef="let element"> {{checkSexo(element.sexo)}} </td>
              </ng-container>

              <ng-container matColumnDef="dataNascimento">
                <th mat-header-cell *matHeaderCellDef> Data de Nasimento </th>
                <td mat-cell *matCellDef="let element"> {{formatDate(element.dataNascimento)}} </td>
              </ng-container>

              <ng-container matColumnDef="ativo">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{checkStatus(element.ativo)}} </td>
              </ng-container>

              <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef> Editar </th>
                <td mat-cell *matCellDef="let element"> 
                  <button mat-raised-button color="primary" type="button" matTooltip="Clique no botão para Editar"(click)="loadUsuarioToEdit(element.usuarioId)">Editar</button> 
                </td>
              </ng-container>

              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef> Deletar </th>
                <td mat-cell *matCellDef="let element"> 
                  <button mat-raised-button color="warn" type="button" matTooltip="Clique no botão para Deletar"(click)="deleteUsuario(element.usuarioId)">Deletar</button> 
                </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

              <!-- <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
            </table>
          </div>

       
